{% extends "base.html" %} 
{% load static %} 
{% block title %}Группы шаблонов{% endblock %} 
{% block body_data_page %}group-templates{% endblock %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/group_templates.css' %}" />
{% endblock %} {% block content %}

<div class="group-templates-page p-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4>Группы задач</h4>

    <a href="{% url 'group_template_create' %}" class="btn btn-primary">
      Создать группу
    </a>
  </div>

  <div class="group-grid row g-3"></div>
</div>

<!-- TOOLTIP -->

<div id="task-tooltip" class="task-tooltip" style="display: none">
  <div class="tooltip-header">
    <img id="tooltip-icon" width="32" height="32" />

    <div id="tooltip-title" class="tooltip-title"></div>
  </div>

  <div id="tooltip-description" class="tooltip-description"></div>

  <div class="tooltip-meta">
    <div>Количество: <span id="tooltip-amount"></span></div>

    <div>Период: <span id="tooltip-period"></span></div>

    <div>Schedule: <span id="tooltip-schedule"></span></div>
  </div>
</div>

{% endblock %} {% block page_js %}
    <script src="{% static 'js/group_templates.js' %}"></script>
{% endblock %}
