/* --- BLOCK ICONS --- */
.task-icon-wrapper {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.task-icon {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    transition: transform 0.2s;
}

.task-icon-wrapper:hover .task-icon {
    transform: scale(1.1);
}

/* --- PLACEHOLDER --- */
.placeholder-icon {
    width: 100%;
    height: 100%;
    background: #e9ecef;
    border-radius: 12px;
}

/* --- CARD HEADER --- */
.task-block .block-actions .btn {
    margin-left: 5px;
}

.task-icon-btn img{
    transition: filter 0.2s ease;
}

.task-icon-btn.task-hidden img{
    filter: blur(7px) brightness(0.5);
}