.weather-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.weather-col {
    flex: 1;
    min-width: 220px;
}

.weather-card {
    border-radius: 16px;
    padding: 16px;
    color: white;
    transition: 0.3s;
}

.weather-card:hover {
    transform: translateY(-5px);
}

.weather-card.active {
    transform: scale(1.05);
}

/* структура */
.top {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.temp {
    font-size: 34px;
    font-weight: bold;
}

.icon {
    font-size: 28px;
}

.desc {
    font-size: 14px;
    margin-bottom: 8px;
}

.bottom {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

/* цвета */
.weather-clear {
    background: linear-gradient(135deg, #f59e0b, #fbbf24);
}

.weather-clouds {
    background: linear-gradient(135deg, #6b7280, #9ca3af);
}

.weather-rain {
    background: linear-gradient(135deg, #3b82f6, #2563eb);
}

.weather-snow {
    background: linear-gradient(135deg, #e5e7eb, #9ca3af);
    color: #111;
}