<div class="modal fade" id="changePasswordModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Сменить пароль</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form id="changePasswordForm">
                <div class="modal-body">

                    <div id="changePasswordError" class="alert alert-danger d-none"></div>

                    <div class="mb-3">
                        <label class="form-label">Текущий пароль</label>

                        <div class="input-group">
                            <input type="password" id="currentPassword" class="form-control" required>

                            <button type="button" class="input-group-text toggle-password">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Новый пароль</label>

                        <div class="input-group">
                            <input type="password" id="newPassword" class="form-control" required>

                            <button type="button" class="input-group-text toggle-password">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success w-100">
                        Сменить пароль
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>