<div class="modal fade" id="deleteAccountModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title text-danger">Удаление аккаунта</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form id="deleteAccountForm">
                <div class="modal-body">

                    <div class="alert alert-warning">
                        Вы уверены? Это действие необратимо!
                    </div>

                    <div id="deleteAccountError" class="alert alert-danger d-none"></div>

                    <div class="mb-3">
                        <label class="form-label">Введите пароль</label>

                        <div class="input-group">
                            <input type="password" id="deleteAccountPassword" class="form-control" required>

                            <button type="button" class="input-group-text toggle-password">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger w-100">
                        Удалить аккаунт
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>