<nav class="app-navbar">
  <div class="container navbar-inner">
    <!-- LOGO -->

    <a class="logo" href="/">
      <span class="logo-icon">
        <i class="bi bi-check-lg"></i>
      </span>
      Tasker
    </a>

    <!-- RIGHT -->

    <div class="nav-actions">
      {% if user.is_authenticated %}

      <!-- PIN LOCK BUTTON и Логика выхода -->
      <button class="nav-btn lock-btn">
        <i class="bi bi-lock"></i>
        Lock
      </button>

      <a href="{% url 'calendar' %}" class="nav-link">
        <i class="bi bi-calendar3"></i> Календарь
      </a>

      <a href="{% url 'stats_weekdays' %}" class="nav-link"> Статистика </a>
      <a href="{% url 'weather' %}" class="nav-link"> Погода </a>
      <a class="nav-btn" href="{% url 'home' %}">
        <i class="bi bi-plus-square"></i>
        Блоки
      </a>

      <a class="nav-btn" href="/templates/">
        <i class="bi bi-plus-square"></i>
        Шаблоны
      </a>

      <a class="nav-btn" href="/group-templates/">
        <i class="bi bi-plus-square"></i>
        Группы
      </a>

      <!-- USER MENU -->

      <div class="dropdown">
        <button class="user-menu" data-bs-toggle="dropdown">
          <i class="bi bi-person-circle"></i>

          <span class="username"> {{ user.username }} </span>

          <i class="bi bi-chevron-down small"></i>
        </button>

        <ul class="dropdown-menu dropdown-menu-end">
          <li class="dropdown-header">{{ user.username }}</li>

          <li>
            <a class="dropdown-item" href="{% url 'profile' %}">
              <i class="bi bi-person"></i>
              Профиль
            </a>
          </li>

          <li><hr class="dropdown-divider" /></li>

          <li>
            <a class="dropdown-item" href="{% url 'logout' %}">
              <i class="bi bi-box-arrow-right"></i>
              Выйти
            </a>
          </li>
        </ul>
      </div>

      {% else %}

      <button
        class="btn btn-primary btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#authModal"
        data-auth-tab="login"
      >
        <i class="bi bi-box-arrow-in-right"></i>
        Войти
      </button>

      {% endif %}
    </div>
  </div>
</nav>
