<div class="modal fade" id="pinModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center p-3">
      <h5 id="pinModalTitle">Введите PIN</h5>
      <div id="pinError" class="text-danger mb-2"></div>

      <!-- DOTS -->
      <div class="pin-display my-3">
        <span class="pin-dot"></span>
        <span class="pin-dot"></span>
        <span class="pin-dot"></span>
        <span class="pin-dot"></span>
      </div>

      <!-- KEYPAD -->
      <div class="pin-pad">
        <button class="pin-btn" data-num="1">1</button>
        <button class="pin-btn" data-num="2">2</button>
        <button class="pin-btn" data-num="3">3</button>
        <button class="pin-btn" data-num="4">4</button>
        <button class="pin-btn" data-num="5">5</button>
        <button class="pin-btn" data-num="6">6</button>
        <button class="pin-btn" data-num="7">7</button>
        <button class="pin-btn" data-num="8">8</button>
        <button class="pin-btn" data-num="9">9</button>
        <button class="pin-btn pin-del">⌫</button>
        <button class="pin-btn" data-num="0">0</button>
        <button class="pin-btn pin-ok">OK</button>
      </div>
    </div>
  </div>
</div>
