<!-- PIN LOCK SCREEN -->
<div id="pin-lock-screen" class="pin-lock">
  <div class="pin-container">
    <h5 id="pinModalTitle">Введите PIN</h5>
      <div id="pinError" class="text-danger mb-2"></div>

    <div class="pin-display">
      <span class="pin-dot"></span>
      <span class="pin-dot"></span>
      <span class="pin-dot"></span>
      <span class="pin-dot"></span>
    </div>

    <div class="pin-pad">
      <button class="pin-btn" data-num="1">1</button>
      <button class="pin-btn" data-num="2">2</button>
      <button class="pin-btn" data-num="3">3</button>
      <button class="pin-btn" data-num="4">4</button>
      <button class="pin-btn" data-num="5">5</button>
      <button class="pin-btn" data-num="6">6</button>
      <button class="pin-btn" data-num="7">7</button>
      <button class="pin-btn" data-num="8">8</button>
      <button class="pin-btn" data-num="9">9</button>
      <button class="pin-btn pin-del">⌫</button>
      <button class="pin-btn" data-num="0">0</button>
      <button class="pin-btn pin-ok">OK</button>
    </div>

    <button id="pin-logout-btn" class="btn btn-danger w-100 mt-2">
      Выйти и сменить пользователя
    </button>
  </div>
</div>
