{% extends "base.html" %}

{% block title %} Вход {% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <h3 class="mb-3">Вход</h3>

    <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        <input
          type="text"
          name="username"
          class="form-control"
          placeholder="Логин"
        />
      </div>

      <div class="mb-3">
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Пароль"
        />
      </div>

      <button class="btn btn-primary w-100">Войти</button>
    </form>
  </div>
</div>
{% endblock %}
